.container,
.container-fluid,
.container-narrow {
    box-sizing: border-box;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;

    @include clearfix;
}

.container {
    max-width: $xxl;
}

.container-fluid {
    max-width: 100%;
}

.container-narrow {
    max-width: $xxxl;
}