.morecontent span {
  display: none;
}
.morelink {
  display: block;
}
.slider.slider-horizontal {
  width: 100%;
  .slider-track{
    height: 3px;
    border-radius: 0;
    background-color:$blue;
    margin-top: -7px;
  }
  .slider-handle {
    border-radius: 0 !important;
    background: #f04678;
    height: 9px;
    width: 9px;
    margin-left: -6px;
  }
}
.slider-selection{
  background:$blue;
}
form{
  background-color: #f4f5f7;
  color: $blue;
  max-width: 508px;
  padding: 40px 50px;


  ::placeholder{
    color: $blue !important;
  }
  .row{
    margin-right: -10px;
    margin-left: -10px;
  }
  .form-control{
    margin-top: 9px;
    margin-bottom: 9px;
    border-color: $blue;
    color: $blue;
    border-radius: 0;
    input{
      font-style: italic;
    }
  }
  //.form-check{
  //  padding-top: 10px;
  //}
  input[type="checkbox"] {
    border-radius: 0;
    padding: 0;
  }
  label.form-check-label {
    padding-top: 0 !important;
    font-size: 10px;
    line-height: 16px;
    font-style: italic;
    color: rgba(112, 112, 112, 255);
    a{
      color: $pink;
    }
  }
  p{
    font-size: 10px;
    line-height: 16px;
    padding-bottom: 10px;
  }
  label{
    padding: 0;
    margin: 0;
  }
  textarea{
    height: 110px;
  }
  .title{
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .description{
    font-size: 20px;
    margin-bottom: 20px;
    padding-top: 0;

  }
  p{
    margin-top: 20px;
  }
  .btn-primary{
    font-weight: 600;
    padding: 12px 70px;
    background: #2b8ccc;
    width: 100%;
    text-transform: uppercase;
    @media(max-width: $xs){
      padding: 12px 30px;
    }
  }
  .btn-secondary{
    @extend .btn-primary;
    background: $pink;
    &:hover{
      background-color: $pink;
    }
    @media(min-width: $xs){
      width: 400px;
    }
  }
  @media(max-width: $xl){
    padding: 30px 30px;
  }
  @media(min-width: map-get($grid-breakpoints, "md")) and (max-width: $md){
    max-width: 420px;
  }
  @media(max-width: $xs){
    padding: 50px 30px;
    .title{
      font-size: 20px;
    }
    .description {
      font-size: 16px;
    }
    .form-control{
      font-size: 13px;
    }
  }
}
