$i-location: ("wp-content/themes/tercet/assets/src/img/images/icon-png/");
$url: ("url");

$images: phone, plan-mieszkan, cookies;
@each $im in $images {
  &.i-#{$im}{
    position: relative;
    padding-left: 60px;
    &:before{
      content:url('/' + $i-location + $im + '.png');
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }
}
