/*-------------------------
*  Grid
*--------------------------*/
$columns: 12;
$gutter: 10px;
$spacing: 20;

/*-------------------------
*  Spacing
*--------------------------*/
$paddings: ('pt': 'padding-top', 'pr': 'padding-right', 'pb': 'padding-bottom', 'pl': 'padding-left');
$margins: ('mt': 'margin-top', 'mr': 'margin-right', 'mb': 'margin-bottom', 'ml': 'margin-left');

/*-------------------------
*  Media Queries
*--------------------------*/
$xs: 480px;
$sm: 600px;
$md: 800px;
$lg: 1190px;
$xl: 1440px;
$xxl: 1920px;
$xxxl: 2560px;

$breakpoints: ('xs': $xs, 'sm': $sm, 'md': $md, 'lg': $lg, 'xl': $xl);

/*-------------------------
*  Colours
*--------------------------*/
$white: #fff;
$black: #000;
$light-grey: #f0f0f0;
$blue:#2b8ccc;
$pink: #f04678;

// custom colours

$colours: ('white': $white, 'black': $black, 'light-grey': $light-grey, 'pink': $pink, 'blue': $blue);

/*-------------------------
*  Typography
*--------------------------*/
$base-font: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$base-fs: 16px;

/*-------------------------
*  Menu
*--------------------------*/
$menu-height: 122px;
$menu-height-mob: 88px;

/*-------------------------
*  Animations
*--------------------------*/
$time: 320ms;
$time_slow: 700ms;

$swing: cubic-bezier(0.55, 0, 0.1, 1);
$swift: cubic-bezier(0.4, 0, 0.2, 1);
$ease: ease;

$transition-default: all $time $ease;