#cookies{
  @extend .shadow;
  display: none;
  max-width: 370px;
  background-color: $white;
  padding: 35px;
  position: fixed;
  left: 20px;
  bottom: 40px;
  //right: 0;
  margin: auto;
  z-index: 999;
  p{
    font-size: 12px;
    padding-top: 30px;
    line-height: 16px;
    color: $gray-600;
  }
  button{
    margin: auto;
  }
  @media (max-width: $md){
    padding: 20px;
    left: 10px;
    right: 10px;
    .btn-outline-blue{
      padding: 3px 10px;
    }
  }
}