.map-item.active{
  font-weight: 800;
}

@media(min-width: map-get($grid-breakpoints, "xl")) {
  .map-item{

  }
}
.map-images{
  position: relative;
  .image-layer{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
}

#localization{
  @media(min-width: map-get($grid-breakpoints, "xl")) {
    .container > .row {
      flex-wrap: nowrap;
    }
  }
  @media(max-width: map-get($grid-breakpoints, "xl")) {
    .map-images{
      margin: auto;
    }
  }
  .col-xl-3{
    margin-top: 25px;
    >div{
      display: flex;
      flex-wrap: wrap;
      > p {
        margin-left: auto;
        margin-right: auto;
        line-height: 20px;
        @media(max-width: map-get($grid-breakpoints, "xl")) {
          max-width: 100px;
          font-size: 14px;
        }
      }
    }
    img {
      margin: 0;
    }
    @media(min-width: map-get($grid-breakpoints, "xl")) {
      img {
        padding: 5px 20px;
      }
      max-width: 500px;
      min-width: 500px;
    }
    @media(max-width: map-get($grid-breakpoints, "xl")) {
      > div{
        margin: auto;
        max-width: 600px;
        min-width: 600px;
      }
    }
    @media(max-width: $sm) {
      > div{
        margin: auto;
        max-width: 320px;
        min-width: 320px;
      }
    }
    @media(max-width: $xxl) {
      img {
        padding: 15px;
      }
    }

  }
}