.modal-content{
  border-radius: 0;
}
#orderCall{
  @media (max-width: $lg) {
    left: 20px;
  }
  .modal-dialog{
    max-width: 980px;
  }
  .modal-title{
    text-align: center;
    color: $blue;
    font-weight: 400;
  }
  .modal-description{
    text-align: center;
    color: $pink;
    font-weight: 400;
    @media (min-width: $xs) {
      font-size: 30px;
    }
  }
  .modal-header{
    border: none;
    .close{
      padding: 36px;
    }
  }

  form{
    max-width: 764px;
    background-color: $white;
    margin: auto ;
    #phone{
      border: 3px solid $pink;
      color: $pink;
      padding: 25px;
      font-size: 16px;
    }
    .form-agreement{
      padding-top: 20px;
      padding-bottom: 30px;
    }
  }
}
#thankYouModal{
  .modal-dialog{
    max-width: 660px;
  }
  .modal-header {
    border: none;
    .close{
      padding: 6px;
    }
  }
  .media{
    padding: 0 50px 30px;
    img{
      max-width: 100px;
    }
    @media (max-width: $xs) {
      align-items: center;
      flex-direction: column;
      text-align: center;
      img{
        margin-bottom: 30px;
      }
    }
  }
  h2{
    color: $blue;
    font-weight: 600;
  }
  p{
    @media (min-width: $xs) {
      font-size: 30px;
      line-height: 34px;
    }
    color: $pink;
    font-weight: 400;
  }
}