footer {
  position: relative;
  .footer-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    .i-phone {
      &:before {
        position: relative;
      }
    }
    h3, > div {
      padding: 50px 10px;
    }
    @media (max-width: $xl) {
      justify-content: center;
      max-width: 650px;
      margin: auto;
      padding-bottom: 30px;
      padding-top: 30px;
      h3 {
        text-align: center;
        padding: 20px;
      }
      > div {
        text-align: center;
        padding: 20px;
      }
    }
  }
  .responsive-separator {
    position: relative;
    padding: 0 !important;
      background-color: white;
      height: 60px;
      width: 3px;
    @media (max-width: $xl) {
        padding: 0 !important;
        background-color: white;
        height: 3px;
        width: 80%;
      }
  }
  .responsive-separator.mob{
    @media (max-width: $xl) {
      background-color: transparent;
    }
  }
  .site-branding{
      @media(max-width: map-get($grid-breakpoints, "lg")) {
        img {
          max-width: 274px;
        }
      }
  }
}