
#hamburger{
  width: 45px;
  height: 45px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

/* Icon 2 */

#hamburger {
}

#hamburger span {
  display: block;
  position: absolute;
  height: 6px;
  width: 50%;
  background: #fff;
  opacity: 1;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#hamburger span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#hamburger span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#hamburger span:nth-child(1), #hamburger span:nth-child(2) {
  top: 0px;
}

#hamburger span:nth-child(3), #hamburger span:nth-child(4) {
  top: 14px;
}

#hamburger span:nth-child(5), #hamburger span:nth-child(6) {
  top: 28px;
}

#hamburger.open span:nth-child(1),#hamburger.open span:nth-child(6) {

  transform: rotate(45deg);
}

#hamburger.open span:nth-child(2),#hamburger.open span:nth-child(5) {
  transform: rotate(-45deg);
}

#hamburger.open span:nth-child(1) {
  left: 5px;
  top: 11px;
}

#hamburger.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 11px;
}

#hamburger.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#hamburger.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#hamburger.open span:nth-child(5) {
  left: 5px;
  top: 25px;
}

#hamburger.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 25px;
}
