#head-spacer{
  height: $menu-height;
  @media(max-width: $xxl) {
    height: $menu-height-mob;
  }
}
header#masthead {
  @extend .shadow;
  position: fixed;
  z-index: 998;
  left: 0;
  right: 0;
  top:0;
  .logo-box{
    height: $menu-height;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    @media(max-width: $xxl) {
      height: $menu-height-mob;
    }
  }
  .site {
    display: flex;
    height: $menu-height;
    .phone {
        margin: auto 20px;
      //visual centring
      padding-top: 10px;
      &:before{
        top: 10px;
      }

    }
    .navbar-toggler{
      display: none;
      &:focus{
        outline: none;
      }
      @media (max-width: 1300px) {
        display: block;
        position: absolute;
        top: 20px;
        left: 0;
        z-index: 999;
      }
    }
    #site-navigation{
      width: 100%;
      margin-left: 26px;
      @media (min-width: 1300px){
        margin-right: -52px;
        padding-right: 26px;
        display: block;
      }
      @media (max-width: 1300px){
        margin-left: 0;
        position: fixed;
        bottom: 0;
        left: 0;
        height: auto;
        width: 100%;
        max-width: 100%;
        background-color: #2b8ccc;
        z-index: 998;
        #primary-menu{
          flex-direction: column;
          li{
            padding: 10px;
          }
        }
      }
      .menu-primary-menu-container, #primary-menu{
        height: 100%;
        width: 100%;
      }
      ul{
        list-style: none;
        display: flex;
        margin: 0;
        padding-left: 0;
        padding-right: 20px;
      }
      li {
        margin: auto;
        float: left;
        display: flex;
        align-items: center;
        @media (min-width: $xxl) {
          margin: auto 37px;
          &:first-child {
            margin-left: 2%;
          }
        }
      }
      a{
        font-size: 18px;
      }
      a.active{
        font-weight: bold;
      }
    }
    .site-branding{
      margin: auto;
      display: flex;
      align-items: center;
      @media (max-width: 1300px){
        img{
          margin-left: 56px;
        }
        order: -1;
      }
    }
    .button-box{
      position: absolute;
      top: $menu-height;
      display: none;
      @media (min-width:  1300px) {
        text-align: left;
        display: flex;
        left:0;
      }
    }
    .button-box.sticky {
      .target-button {
        background-color: $blue;
      }
    }

    .phone {
      //margin-right: 56px;
      margin-left: auto;
      text-align: right;
      max-width: 420px;
      display: flex;
      align-items: center;
      .i-phone{
        //margin-right: 56px;
        margin-left: auto;
      }
      @media(max-width: $xxl) {
        min-width: 320px;
        margin-right: 26px;
        .i-phone{
          font-size: 26px;
        }
      }
    }
    @media (max-width:  map-get($grid-breakpoints, "lg")) {
      .site-branding, .phone{
        display: none;
      }
    }
    @media(max-width: $xxl) {
      height: $menu-height-mob;
      .button-box{
        top: $menu-height-mob;
      }
    }
  }
}
.tercet-logo {
  position: absolute;
  //top: -16px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 998;
  text-align: center;
  @media(max-width: $xl) {
    width: 262px;
    min-width: 262px;
  }
  //@media(min-width: $xxl) {
  //  top: -33px;
  //}
}
.tercet-logo, #fixed-logo{
  opacity: 0;
  margin: auto;
  max-width: 240px;
  @media (max-width: 400px) {
    width: 200px;
    min-width: 200px;
  }
}

.site-content {
  position: relative;
	min-height: 100vh;
}

.site-branding {
  @media (min-width: 1300px) {
    text-align: right;
  }
  img {
    max-width: 177px;
    @media(min-width: 1300px) {
      margin-left: 30px;
    }
    @media(min-width: $xxl) {
      max-width: 205px;
    }
  }

}

.phone .i-phone {
  @include font-size(42px, 48px, 0.36px);
  font-weight: 600;
  white-space: nowrap;
  &:before{
    top: 50%;
    transform: translateY(-50%);
    bottom: auto;
  }
  @media ( min-width:1300px) and (max-width: $xl) {
    padding-left: 0;
    margin-left: 0 !important;
    &:before {
      content: "";
    }
  }
  @media (max-width: #{$sm}) {
    @include font-size(24px, 28px, 0.36px);
  }
}
