.page-id-2{
  #kontakt{
    margin-top: 60px;
  }
  .pd-container{
    padding-bottom: 40px;
    h3{
      text-align: center;
    }
  }
}
body{
  #image-section{
    @media (min-width:  map-get($grid-breakpoints, "lg")) {
      display: flex;
    }
  }
  .first-section{
    @media (min-width:  map-get($grid-breakpoints, "lg")) {
      background-image: url("/wp-content/themes/tercet/assets/src/img/images/background/osiedla-targowek.png");
      width: 80%;
      background-repeat: no-repeat;
      background-position: 80% 100%;
      background-attachment: scroll;
      background-size: cover;

    }
    @media (max-width: $xxl) {
      background-image: url("/wp-content/themes/tercet/assets/src/img/images/background/osiedla-targowek-md.jpg");
    }
  }
  @media (max-width: $sm) {
    .phone.i-phone{
      text-align: center;
      &:before{
        top: 5px;
        left: -10px;
      }
    }
  }
  .investments-plan{

  }

  .investments{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 10;
    padding: 40px 0 100px;
    h2, .img-block{
      position: relative;
      z-index: 99;
      background-color: white;
      width: 90%;
      margin: auto;
    }

    .img-block{
      padding: 30px;
      bottom: -4%;
      left: 0;
      right: 0;
      position: absolute;
    }
    .frame{
      position: relative;
      margin: 60px 25px 0;
      flex-basis: 490px;
      h2 {
        padding-bottom: 30px;
        font-weight: 400;
        strong, b{
          font-weight: 800;
        }
      }
      >div:not(.img-block){
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 100px;
        color: #707070;
        text-align: justify;
      }
      &:after{
        content: "";
        position: absolute;
        border: 3px $pink solid;
        height: 90%;
        width: 100%;
        left: 0;
        right: 0;
        top: 45px;
      }

    }
    @media(max-width: map-get($grid-breakpoints, "lg")){
      padding: 0 0 80px;

      .frame {
        margin: 60px 10px 0;
        h2{
          padding-bottom: 40px;
        }

        &:after{
          height: 94%;
          top: 10px;
        }
      }
      .frame{
        .img-block {
          img {
            max-width: 100px;
          }
        }
      }
    }
  }
}

#map{
  height: 620px;
  width: 100%;
}
.switcher-container{
  overflow-x: auto;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: auto;
  @media (max-width: $lg) {
    max-width: 650px;
  }
  @media (max-width: $md) {
    max-width: 320px;
  }
}
.switcher-icon{
  width: 117px;
  text-align: center;
  p{
    padding-top: 10px;
    color: $blue;
    line-height: 18px;
  }
}
.switcher-icon.active{
  p {
    font-weight: bold;
  }
}
.contact-form{
  height: 100%;
  margin: 0 0 0 auto;
  @media(min-width:$md ){
    width: 45%;
  }
  @media(min-width:$lg ){
    overflow-y: auto;
    max-height: 930px;
    width: 38%;
    .form-check,label{
      padding-top: 10px;
    }
  }
  @media (max-width: $xl) {
    .btn-primary{
      padding: 12px 30px;
    }
  }

}
.contact-form.header{
  background-color: $white;
  @media (max-width: $xl) {
    overflow-y: auto;
    max-height: 640px;
    .description{
      display: none;
    }
  }
}
.contact{
  background-repeat: no-repeat;
  background-position: 50% 85%;
  background-attachment: scroll;
  background-size: 65% auto;
  b{
    font-weight: 600;
  }
  h5{
    font-size: 20px;
    line-height: 28px;
  }
  .telephone{
    font-size: 24px;
  }
  @media(max-width: $xl){
    background-size: 90% auto;
    background-position: 50% 90%;
  }
  @media(max-width: $lg){
    background-size: 100% auto;
    background-position: 50% 90%;
  }
  @media(max-width: map-get($grid-breakpoints, "md")){
    background-image: none !important;
    background-color: $white;
   >.row{
      display: flex;
     justify-content: center;
     flex-flow: column-reverse;
    }
    .contact-form{
      margin: auto;
      background-color: $white;
    }
    .contact-data{
      max-width: 100%;
      box-shadow: none !important;
      margin: auto;
      .separator{
        max-width: 360px;
      }
    }
  }
}

.contact-data{
  max-width: 340px;
  box-shadow:  -0.125rem 0 1.125rem rgba(0, 0, 0, 0.075) !important;

  @media(min-width: map-get($grid-breakpoints, "lg") + 1) {
    max-width: 508px;
  }
  @media(min-width: map-get($grid-breakpoints, "md") + 1) {
    padding-top: 100px;
  }
}
.modal.show-image{
  position: fixed;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
  top: 50%;
  left: 50%;
  padding: 0;
  margin: 0;
  height: auto;
  width: 100%;
  transform: translate(-50%, -50%);
  .modal-content{
    background-color: transparent;
    border: none;
    outline: none;
  }
  //.modal-dialog{
  //  margin: 1200px;
  //}
}
.pd-container{
  .text{
    padding-left: 20px;
    padding-right: 20px;
  }
  h3{
    padding-top: 36px;
    padding-bottom: 36px;
    font-weight: 600;
    @media (min-width: map-get($grid-breakpoints, "md") + 1) {
      font-size: 36px;
    }
  }
  .pd-row{
    justify-content: space-between;
  }
  .pd-area{
    margin: auto;
    @media (min-width: $xxl) {
      max-width: 515px;
    }
    @media (min-width: map-get($grid-breakpoints, "md") + 1){
      //margin-left: 0;
      max-width: 33%;
    }
  }

  /* hover effect */
  figcaption {
    padding: 2em;
    color: #fff;
    font-size: 1.25em;
    backface-visibility: hidden;
  }
  figcaption::before,
  figcaption::after {
    pointer-events: none;
  }
  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .effect-bubba {
    position: relative;
    background: $pink;
  }
  .effect-bubba:hover img {
    opacity: 0.4;
  }
  .effect-bubba figcaption::before,
  .effect-bubba figcaption::after {
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    content: '';
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
  }
  .effect-bubba figcaption::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: scale(0, 1);
  }
  .effect-bubba figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    transform: scale(1, 0);
  }
  .effect-bubba:hover figcaption::before,
  .effect-bubba:hover figcaption::after {
    opacity: 1;
    transform: scale(1);
  }
  /* modal */
  .carousel  {
    padding-right: 0px !important;
  }
  .modal-dialog {
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .modal-dialog .modal-content {
    width: 100%;
  }
  .separator{
    width: 100%;
  }

  .carousel-control-prev-icon, .carousel-control-next-icon{
    background-color:#333;
    height: 40px;
    width: 40px;
    background-size: 90% 50%;
  }
}
.alignnone {
  margin: 0px 20px 20px 0;
}





