button {
	@include transition(all $time $ease);
}

.btn {
	padding: ($gutter * 1.5) ($gutter * 3);
	border: none;
	border-radius: 2px;

	@extend .h3;

	&:active {
		box-shadow: none;
	}

	&:focus {
		outline: none;
	}

	&.btn-sm {
		padding: ($gutter * 0.8) ($gutter * 1.8);

		@extend .h5;
	}

	&.btn-xs {
		padding: ($gutter * 0.8) ($gutter * 1.8);

		@include font-size(13px, 13px, 0.4px);
	}

	&.btn-xxs {
		padding: ($gutter * 0.6) $gutter;

		@include font-size(11px, 11px, 0.4px);
	}
}
[class^='btn-outline-'] {
	padding: 10px 20px;
	background-color: transparent;
	background-image: none;
}
[class^='btn-'],
.btn,
.button-box a {
	&:hover{
		@extend .shadow;
	}
}

.target-button {
	height: 113px;
	width: 235px;
	background-color: $pink;
	margin-left: 18px;
	margin-bottom: 18px;
	padding-left: 90px;
	display: flex;
	align-items: center;
	&:before{
		left: 36px;
		top:40px;
	}
	span{
		top:35px;
		font-size: 18px;
		line-height: 20px;
		font-weight: 600;
	}
	@media (max-width: 1500px)and (min-width: map-get($grid-breakpoints, "lg")) {
		width: 113px;
		span{
			display: none;
		}
	}
	@media(max-width: map-get($grid-breakpoints, "lg")){
		background-color: $blue;
		width: 150px;
		height: 57px;
		padding-left: 65px;
		margin-left: 0;
		&:not(:first-of-type){
			margin-left: 10px;
		}
		&:before{
			left: 18px;
			top: 11px;
		}
		span{
			font-size: 14px;
		}
	}

}