@each $colour, $hex in $colours {
	.text-#{$colour} {
		color: $hex;
	}

	.background-#{$colour} {
		background-color: $hex;
	}

	.border-#{$colour} {
		border-color: $hex;
	}
	.btn-outline-#{$colour}{
		color: $hex;
		border-color: $hex;
	}
}

// Customize text selection
::selection {
	background: $black;
	color: $white;
}

::-moz-selection {
	background: $black;
	color: $white;
}