// position
.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

// display
.display-table {
	display: table;
	width: 100%;
	height: 100%;

	.display-table-cell {
		display: table-cell;
		width: 100%;
		height: 100%;
		vertical-align: middle;
	}
}

// background
.background-image {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.overlay-dark {
	position: relative;

	&:before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: block;
		content: '';
		opacity: .5;
		background-color: $black;
	}
}
.bg-image{
	background-size: cover;
}
.separator{
	border-top: 3px solid #f04678;
	width: 80%;
	float: none;
	margin: auto;
}

// visibility
.hide {
	display: none;
	visibility: hidden;
}

.show {
	display: inline-block;
	visibility: visible;
}