@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,800');

body {
	font-family: $base-font;
	font-weight: 400;
	overflow-x: hidden;

	@include font-size($base-fs, $base-fs * 1.5, 0.5px);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Headings
h1,
.h1 {
	@include font-size(48px);

	@media (max-width: #{$sm}) {
		@include font-size(34px);
	}
}

h2,
.h2 {
	@include font-size(42px, 48px, 0.36px);
	font-weight: 800;
	@media (max-width: #{$sm}) {
		@include font-size(24px, 28px, 0.36px);
	}
}

h3,
.h3 {
	@include font-size(22px, 27px, 0.3px);

	@media (max-width: #{$sm}) {
		@include font-size(18px, 22px, 0.3px);
	}
}

h4,
.h4 {
	@include font-size(20px, 26px);

	@media (max-width: #{$sm}) {
		@include font-size(15px, 20px);
	}
}

h5,
.h5 {
	@include font-size(18px);

	@media (max-width: #{$sm}) {
		@include font-size(15px);
	}
}
p {
	@include font-size(16px);

	@media (max-width: #{$sm}) {
		@include font-size(14px);
	}
}
b{
	font-weight: 800;
}

small,
.small {
	@include font-size(15px, 20px, 0.28px);
}

// alignments
.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

// Modifiers
.text-bold {
	font-weight: 600;
}

.text-semibold {
	font-weight: 600;
}

.text-uppercase {
	text-transform: uppercase;
}

.no-line-height {
	line-height: 1em !important;
}